In [129]:
# Cairo University Faculty of Engineering
## Machine Learning
### Movies recommendation system
#### Name: Rahma Abdelkader mohmed

### Importing the needed libraries

In [130]:
import numpy as np
import pandas as pd

### Reading movies dataset

In [131]:
movies = pd.read_csv("C:/Users/DELL/Desktop/ContentBasedRecommenderSystem/movies.csv")
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Selecting the first 200 movies

In [132]:
movies_200 = movies.iloc[:200]
movies_200

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
195,229,Death and the Maiden (1994),Drama|Thriller
196,230,Dolores Claiborne (1995),Drama|Thriller
197,231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy
198,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance
199,233,Exotica (1994),Drama

### Reading ratings dataset associated with movieId

In [133]:
ratings=pd.read_csv("C:/Users/DELL/Desktop/ContentBasedRecommenderSystem/ratings.csv")
ratings.head(5)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Selecting the first 200 rating based on userId

In [134]:
Users_rating_200 = ratings[ratings['userId'] <= 200]
Users_rating_200

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
29263     200    60074     3.5  1229887390
29264     200    61024     4.0  1229889835
29265     200    61323     4.0  1229887427
29266     200    62299     3.5  1229876803
29267     200    63433     4.0  1229887817

[29268 rows x 4 columns]

### Combine both datasets

In [135]:
combined_movies_data = pd.merge(Users_rating_200, movies_200, on='movieId')
combined_movies_data

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...,...
2137,191,148,5.0,829760897,"Awfully Big Adventure, An (1995)",Drama
2138,191,155,4.0,829760897,Beyond Rangoon (1995),Adventure|Drama|War
2139,191,178,1.0,829760898,Love & Human Remains (1993),Comedy|Drama
2140,191,229,5.0,829760897,Death and the Maiden (1994),Drama|Thriller
2141,199,229,3.0,940373078,Death and the Maiden (1994),Drama|Thriller

### we won't need timestamp so we will drop it

In [136]:
combined_movies_data = combined_movies_data.drop(['timestamp'], axis=1)
combined_movies_data

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
2137,191,148,5.0,"Awfully Big Adventure, An (1995)",Drama
2138,191,155,4.0,Beyond Rangoon (1995),Adventure|Drama|War
2139,191,178,1.0,Love & Human Remains (1993),Comedy|Drama
2140,191,229,5.0,Death and the Maiden (1994),Drama|Thriller
2141,199,229,3.0,Death and the Maiden (1994),Drama|Thriller

The function creates a pivot table from the combined_movies_data DataFrame, where the rows represent user IDs, the columns represent movie titles, and the values represent the corresponding ratings given by users to movies.
The function prints the size of the pivot table (number of rows and columns) and returns the pivot table.

In [137]:
def movies_rating_crosstable(combined_movies_data):
    movies_rating_crosstable_df = pd.pivot_table(
        data=combined_movies_data,
        values='rating',
        index='userId',
        columns='title',
        fill_value=0
    )
    print("The Pivot_table size = (userIDs, movie titles) = ", movies_rating_crosstable_df.shape)
    return movies_rating_crosstable_df

In [138]:
# creating the (Collaborative Filtering) CF tabel
movies_rating_transposed=movies_rating_crosstable(combined_movies_data)

The Pivot_table size = (userIDs, movie titles) =  (180, 176)

In [139]:
movies_rating_transposed.head(5)

title,Ace Ventura: When Nature Calls (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Apollo 13 (1995),Assassins (1995),"Awfully Big Adventure, An (1995)",Babe (1995),...,Unstrung Heroes (1995),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),"Walk in the Clouds, A (1995)",Waterworld (1995),White Man's Burden (1995),White Squall (1996),Wild Bill (1995)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,5.0,0,0,0.0,0.0,0,0,0
3,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
4,0.0,0,0.0,0,0,0,0.0,0.0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
5,0.0,0,0.0,0,0,0,3.0,0.0,0,4.0,...,0,0.0,4.0,0,0,0.0,0.0,0,0,0
6,2.0,4,4.0,0,0,0,4.0,0.0,0,4.0,...,3,3.0,1.0,4,3,4.0,3.0,3,5,4

In [140]:
### checking the unique values for the first movie

In [141]:
movies_rating_transposed["Ace Ventura: When Nature Calls (1995)"].unique()

array([0. , 2. , 1. , 2.5, 4.5, 5. , 3.5, 3. , 1.5, 4. ])

### Transposing it to calculate the similarity matrix of item to item to be able to get the similarity scores

In [142]:
user_ratings_to_movies = movies_rating_transposed.transpose()
print("transpose Pivot tabel size = (movie titles , userIDs) = ",user_ratings_to_movies.shape)

transpose Pivot tabel size = (movie titles , userIDs) =  (176, 180)

In [143]:
user_ratings_to_movies.head(10)

userId,1,3,4,5,6,7,8,9,11,12,...,191,192,193,194,195,196,197,198,199,200
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
"Amazing Panda Adventure, The (1995)",0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"American President, The (1995)",0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
Angels and Insects (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
Anne Frank Remembered (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Antonia's Line (Antonia) (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Apollo 13 (1995),0.0,0.0,0.0,3.0,4.0,4.5,4.0,0.0,5.0,0.0,...,2.0,5.0,0.0,0.0,4.0,5.0,0.0,0.0,4.0,4.0
Assassins (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Awfully Big Adventure, An (1995)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Babe (1995),0.0,0.0,0.0,4.0,4.0,0.0,5.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.5

### Calculate the cosine similarity between items (movies)

In [144]:
from sklearn.metrics.pairwise import cosine_similarity

def calculate_item_similarity(user_ratings_to_movies):
    
    similarity_scores_movies = cosine_similarity(user_ratings_to_movies)
    print("Shape of the similarity matrix: ", similarity_scores_movies.shape)
    print(similarity_scores_movies)
    return similarity_scores_movies

In [145]:
similarity_scores_movies=calculate_item_similarity(user_ratings_to_movies)

Shape of the similarity matrix:  (176, 176)
[[1.         0.16657816 0.33700144 ... 0.13875846 0.11696329 0.11100677]
 [0.16657816 1.         0.23501216 ... 0.68599434 0.51399405 0.85749293]
 [0.33700144 0.23501216 1.         ... 0.19576351 0.34836373 0.27406892]
 ...
 [0.13875846 0.68599434 0.19576351 ... 1.         0.46829291 0.8       ]
 [0.11696329 0.51399405 0.34836373 ... 0.46829291 1.         0.59941492]
 [0.11100677 0.85749293 0.27406892 ... 0.8        0.59941492 1.        ]]

### Creating dataframe with the movies titles and similarity

In [146]:
data_matrix_item = pd.DataFrame(data=similarity_scores_movies, index=user_ratings_to_movies.transpose().columns, columns=user_ratings_to_movies.transpose().columns)

In [147]:
data_matrix_item.head(10)

title,Ace Ventura: When Nature Calls (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Apollo 13 (1995),Assassins (1995),"Awfully Big Adventure, An (1995)",Babe (1995),...,Unstrung Heroes (1995),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),"Walk in the Clouds, A (1995)",Waterworld (1995),White Man's Burden (1995),White Squall (1996),Wild Bill (1995)
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),1.000000,0.166578,0.337001,0.000000,0.000000,0.080112,0.388591,0.104858,0.000000,0.342358,...,0.166578,0.092468,0.305973,0.214109,0.104069,0.282678,0.392326,0.138758,0.116963,0.111007
"Amazing Panda Adventure, The (1995)",0.166578,1.000000,0.235012,0.000000,0.000000,0.297044,0.232556,0.155520,0.000000,0.298277,...,0.705882,0.243809,0.063435,0.423405,0.342997,0.271031,0.281099,0.685994,0.513994,0.857493
"American President, The (1995)",0.337001,0.235012,1.000000,0.022456,0.000000,0.000000,0.520100,0.157799,0.000000,0.410753,...,0.100719,0.369623,0.365531,0.120828,0.195764,0.207864,0.355632,0.195764,0.348364,0.274069
Angels and Insects (1995),0.000000,0.000000,0.022456,1.000000,0.573539,0.331133,0.131876,0.000000,0.573539,0.208784,...,0.000000,0.203841,0.159923,0.088499,0.000000,0.000000,0.031336,0.000000,0.000000,0.000000
Anne Frank Remembered (1995),0.000000,0.000000,0.000000,0.573539,1.000000,0.577350,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Antonia's Line (Antonia) (1995),0.080112,0.297044,0.000000,0.331133,0.577350,1.000000,0.085098,0.000000,0.000000,0.116762,...,0.396059,0.000000,0.000000,0.000000,0.000000,0.000000,0.063088,0.000000,0.000000,0.000000
Apollo 13 (1995),0.388591,0.232556,0.520100,0.131876,0.000000,0.085098,1.000000,0.260638,0.058958,0.534168,...,0.207278,0.239226,0.527573,0.131912,0.250570,0.171791,0.431640,0.117915,0.220875,0.182768
Assassins (1995),0.104858,0.155520,0.157799,0.000000,0.000000,0.000000,0.260638,1.000000,0.000000,0.191545,...,0.000000,0.000000,0.086005,0.310948,0.000000,0.248805,0.258736,0.000000,0.113243,0.181365
"Awfully Big Adventure, An (1995)",0.000000,0.000000,0.000000,0.573539,0.000000,0.000000,0.058958,0.000000,1.000000,0.161790,...,0.000000,0.355409,0.142263,0.000000,0.000000,0.000000,0.054636,0.000000,0.000000,0.000000
Babe (1995),0.342358,0.298277,0.410753,0.208784,0.000000,0.116762,0.534168,0.191545,0.161790,1.000000,...,0.221973,0.208443,0.357910,0.180994,0.161790,0.257685,0.415457,0.161790,0.287907,0.226505

### function that takes the name of the movie and the number of recommendations

In [148]:
def recommend_movies_similar_to_movie(movie, recomemnds=10):
    movie = movie
    number_of_recommendation = recomemnds

    # in data_matrix movie titles were set to be the indices ad then saving the indices means savng the mavie titles
    indices = data_matrix_item.loc[movie].nlargest(
        number_of_recommendation+1).index

    print("The recommended movies if u like '{}' are \n".format(movie))
    for idx, num in enumerate(indices):
        if idx > 0:
            print(num)

### Top 10 movies similar to 'Toy Story (1995)'

In [149]:
recommend_movies_similar_to_movie('Toy Story (1995)')

The recommended movies if u like 'Toy Story (1995)' are

Braveheart (1995)
Apollo 13 (1995)
Usual Suspects, The (1995)
Happy Gilmore (1996)
Die Hard: With a Vengeance (1995)
Seven (a.k.a. Se7en) (1995)
Babe (1995)
Waterworld (1995)
Batman Forever (1995)
Taxi Driver (1976)

### Top 10 movies similar to 'Waiting to Exhale (1995)'

In [150]:
recommend_movies_similar_to_movie('Waiting to Exhale (1995)')

The recommended movies if u like 'Waiting to Exhale (1995)' are

Before and After (1996)
Mighty Morphin Power Rangers: The Movie (1995)
Before the Rain (Pred dozhdot) (1994)
Bushwhacked (1995)
Cure, The (1995)
Georgia (1995)
Mad Love (1995)
Now and Then (1995)
Reckless (1995)
Three Wishes (1995)

### Calculate the similarity matrix for the users

In [151]:
similarity_scores_user = cosine_similarity(user_ratings_to_movies.transpose())
similarity_scores_user.shape

(180, 180)

### Saving the unique userIDS

In [152]:
user_ids = np.unique(combined_movies_data["userId"])

### Creating a dataframe where similarity matrix for useres is the data , columns and indices are the user IDS

In [153]:
data_matrix_user = pd.DataFrame(data=similarity_scores_user, index=user_ids, columns=user_ids)

### Recommend movies for a certain user based on similar users

In [154]:
def recommend_movies_for_user(userID, recommends, similar_users=5):
    #catching function args
    userID = userID
    number_of_similar_users = similar_users
    number_of_recommendation = recommends

    counter = 0
    # save the ids of similar users
    indices = data_matrix_user.loc[userID].nlargest(number_of_similar_users+1).index

    print("the recommended movies for user {}".format(userID))

    # loop on similar users and print indices
    
    for idx, num in enumerate(indices):
        # save all the movies that this user watched with high ratings
        movie_rec_user = movies_rating_transposed.loc[indices[idx]].nlargest(
            number_of_recommendation+1).index

        # lopp over those movies with high ratings
        for idx, num in enumerate(movie_rec_user):

            # check if the user have watched it or not (if user rated that movie or not)
            if (movies_rating_transposed[movie_rec_user[idx]].loc[userID] == 0) & (counter < number_of_recommendation):

                # if he haven't watched it recommend the movie
                print(movie_rec_user[idx])
                counter += 1

### Printing three recommendations for userId 200

In [155]:
recommend_movies_for_user(userID=200,recommends=3)

the recommended movies for user 200
First Knight (1995)
Usual Suspects, The (1995)
Pocahontas (1995)